name: Docker CI/CD Pipeline

on:
  push:
    branches: [ master]
  pull_request:
    branches: [ master ]

env:
  DOCKER_USERNAME: ankit0017
  IMAGE_NAME: flask-task-manager

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Run tests with pytest
      run: |
        python -m pytest tests/
    
    - name: Code coverage
      run: |
        pip install pytest-cov
        python -m pytest --cov=app tests/

  build:
    name: Build Docker Image
    needs: test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/flask-app:latest .

  push:
    name: Push Docker Image
    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to DockerHub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
        -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Push image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/flask-app:latest